/* navbar  */

:root {
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    --white: #fff;
    --dark-white: #eee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;

    transition: all .2s linear;
}

::after,
::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 65%;
}

/* header section  */

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--white);
    padding: 1rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    box-shadow: var(--box-shadow);

}

header #logo {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}


header #navbar a {
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
}

header #navbar a:hover {
    color: var(--white);
    background: var(--black);
    letter-spacing: .05rem;
}

header .icons #menu-bars{
    display: none;
}

header .icons div{
    color:var(--black) ;
    cursor: pointer;
    font-size: 1.4rem ;
    margin-left: 1.2rem;
    background-color: var(--dark-white);
    border-radius: 50% ;
    line-height: 3rem ;
    width: 3rem ;
    text-align: center;
}

header .icons div:hover{
    background: var(--black);
    color: var(--white);
    transform: rotate(360deg);
}

header .icons span select{
    width: 6rem ;
    height: 3rem ;
    margin-left: 1.2rem;
    border: 1px solid black;
    border-radius: 10%;
}

 /* search form  */

#search-form{
    position: absolute;
    top: 115% ;
    right: 7% ;
    background-color: #fff;
    width: 50rem ;
    height: 5rem ;
    display: flex;
    align-items: center;
    border: .05rem solid var(--light-color);
    border-radius: .2rem;
    transform: scaleY(0);
    transform-origin: top;
}

#search-form.active{
    transform: scaleY(1);
}
 
#search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem ;
    color: var(--black);
    padding: .7rem;
    margin: .2rem ;
    text-transform: none;
    border: none;
    outline: none;
}


#search-form label{
    font-size: 2rem ;
    cursor: pointer;
    margin-right: 1.2rem ;
    color: black
}
#search-form label:hover{
    color: var(--black);
}

/* news section  */

#mainNews {
    position: relative;
    top: -7000rem  ;
    display: none;
}

#mainNews.active{
    top: 7rem ;
    display: inline-block;
}

#mainNews #newsType {
    font-size: 2rem;
    margin: 0 1rem 2rem 2rem  ;
}


#mainNews #newsdetails {
    top: 10%;
    margin: 0 .5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
    margin-bottom: 70px;
}

.card {
    position: relative;
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, .125);
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.25rem;
    padding: 0.5rem;
    min-width: 0;
}

.card:hover {
    transform: scale(1.03, 1.03);
    background: var(--dark-white);
}

.card .para {
    width: 100%;
    margin: .5rem;
    padding: 0.5rem;
}

.card .para .NewsImg {
    width: 100%;
}

.card .para .NewsImg:hover {
    cursor: pointer;
}

.card .para .card-title {
    margin: .25rem 0;
    margin-top: 0;
    font-size: 2rem ;
}

.card .para .date {
    padding: 1rem 0;
    font-size: 1.5rem;
    color: rgb(13, 110, 253);
    margin: 0.25rem 0;
}
.card .para .descript {
    padding: 1rem 0;
    font-size: 1.5rem;
    margin: 0.25rem 0;
    line-height: 1.2;
}
.card .para .btn {
    font-size: 1.7rem;
    border-radius: 0.5rem;
    padding: .5rem 1.5rem;
    color: var(--white);
    background-color: var(--black);
}

.btn:hover {
    text-decoration: underline;
    letter-spacing: 0.06rem;
}

h5{
    font-size: 2rem ;
}

/* sign-in form  */

#sign-in {
    position: absolute;
    width: 32rem  ;
    padding: 1.4rem 3rem ;
    border: .1rem solid rgba(0, 0, 0, .2);
    border-radius: .5rem;
    background: var(--dark-white);
    top:-100% ;
    left: 38% ;
    box-shadow: var(--box-shadow);
    display: none;
}

#sign-in.active{
    top:25% ;
    display: inline-block;
}

#sign-in h2{
    text-align: center;
    font-size:4rem ;
    margin-bottom: 4rem ;
    color: var(--black);
}

#sign-in input,
#sign-in #submit{
    border: none;
    outline: none;
    display: block;
}

#sign-in input {
    width: 100% ;
    text-align: center;
    background-color: transparent;
    margin-bottom: 2rem ;
    font-size: 2rem ;
    padding: 1rem 0 .5rem .5rem ;
    border-bottom: 2px solid #202020;
}

#sign-in #submit{
    position: relative;
    left: 0;
    font-size: 1.1rem ;
    width: 7rem ;
    background-color: var(--black);
    color: white;
    padding: .8rem 0 ;
    margin: 2rem 0 ;
    border-radius: .3rem ;
}

#sign-in #message-ref{
    font-size: 1rem ;
    margin-top: 1.5rem ;
    color: #34bd34;
    visibility: hidden;
}

#sign-in #close {
    position: absolute;
    top: 1rem;
    font-size: 2rem;
    right: 1.5rem;
}


/* Footer  */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--white);
    color: var(--black);
    text-align: center;
    box-shadow: var(--box-shadow);
}

.footer .credit {
    padding: 2rem 0;
    font-size: 1.5rem;
}



.loader-container{
    position: fixed;
    top:0; left:0;
    height:100%; 
    width:100%;
    z-index: 10000;
    background:transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader-container img{
    width:5rem;
}

.loader-container.fade-out{
    /* top:-110%; */
    display: none;
    opacity:0;
}


/* Media Query */

@media (max-width:901px) {

    html {
        font-size: 55%;
    }

    header {
        padding: 1rem 2rem;
    }

    #mainNews #newsdetails {
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 60px;
    }

    #search-form{
        width: 40rem ;
        height: 4rem ;
    }

}

@media (max-width:768px) {

    header #navbar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: #fff;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header #navbar a {
        display: block;
        background: #eee;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
    }
    
    header .icons #menu-bars{
        display: inline-block;
    }

    #search-form{
        width: 30rem ;
        height: 4rem ;
    }

    #mainNews #newsdetails {
        grid-template-columns: repeat(2, 1fr);
    }

    #sign-in {
        left: 34% ;
    }

}


@media (max-width:500px) {

    html {
        font-size: 50%;
    }

    #mainNews #newsdetails {
        grid-template-columns: repeat(1, 1fr);
    }
    #sign-in {
        left: 20% ;
    }

    #search-form{
        width: 85%  ;
        height: 4rem ;
    }

}

@media (max-width:350px ) {

    #sign-in {
        left: 10% ;
    }

}